body {
    background-color: cadetblue;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#header {
    color: white;
    font-size: 60px;
    font-family: Arial, sans-serif;
    text-align: center;
}

#record {
    position: relative;
    top: 10px;
    padding: 10px;
    margin-left: -40px;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    left: 14%;
    width: 70%;
    height: 70px;
}

#textBox {
    position: relative;
    border-style: inset;
    border-color: aliceblue;
    top: 40px;
    padding: 10px;
    margin-left: 0;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    left: 14%;
    width: 70%;
    height: 50px;
}

#footer {
    position: relative;
    top: 100px;
    padding: 10px;
    margin-left: 0;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    left: 14%;
    width: 70%;
    height: 50px;
}

button {
    margin-left: -60px;
    color: white;
    cursor: pointer;
    height: 40px;
    background-color: #2c3e50;
    border: none;
    width: 50px;
    text-align: center;
}

#recording {
    position: relative;
    top: 10px;
    padding: 10px;
    margin-left: 0;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    left: 0;
    width: 40%;
    height: 50px;
}

#connect {
    position: relative;
    top: 10px;
    padding: 10px;
    margin-left: 0;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    left: 80px;
    width: 40%;
    height: 50px;
}
