body {
    background-color: cadetblue;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.center {
    min-width: 980px;
    width: 80%;
    text-align: center;
    margin: auto;
}

#header {
    color: white;
    font-size: 60px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

#header p {
    text-shadow: grey 2px 2px;
}

button {
    color: white;
    background-color: #2c3e50;
    border: solid 1px white;
    height: 60px;
    width: 270px;
    font-size: 23px;
    cursor: pointer;
}

p {
    margin: 25px 0;
}

#recording {
    margin-top: 20px;
    margin-bottom: 15px;
}

#textBox {
    position: relative;
    left: 50%;
    margin-left: -300px;
    border-color: #adadad;
    background-color: white;
    font-size: 22px;
    font-family: Arial, sans-serif;
    width: 600px;
    height: 58px;
    padding: 5px;
    border: solid 1px black;
}


/*#record {
    position: relative;
    top: 10px;
    padding: 10px;
    margin-left: -40px;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    left: 14%;
    width: 70%;
    height: 70px;
}

#textBox {
    position: relative;
    border-style: inset;
    border-color: aliceblue;
    top: 40px;
    padding: 10px;
    margin-left: 0;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    left: 14%;
    width: 70%;
    height: 50px;
}

#footer {
    position: relative;
    top: 100px;
    padding: 10px;
    margin-left: 0;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    left: 14%;
    width: 70%;
    height: 50px;
}

button {
    margin-left: -60px;
    color: white;
    cursor: pointer;
    height: 40px;
    background-color: #2c3e50;
    border: none;
    width: 50px;
    text-align: center;
}

#recording {
    position: relative;
    top: 10px;
    padding: 10px;
    margin-left: 0;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    left: 0;
    width: 40%;
    height: 50px;
}

#connect {
    position: relative;
    top: 10px;
    padding: 10px;
    margin-left: 0;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    left: 80px;
    width: 40%;
    height: 50px;
}*/
